<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CAP1-THEHEALTHOFPEOPLE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexNewsController</servlet-name>
    <servlet-class>controller.PublicIndexNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexNewsController</servlet-name>
    <url-pattern>/public/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexNewsDetailController</servlet-name>
    <servlet-class>controller.PublicIndexNewsDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexNewsDetailController</servlet-name>
    <url-pattern>/public/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexDoctorController</servlet-name>
    <servlet-class>controller.PublicIndexDoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexDoctorController</servlet-name>
    <url-pattern>/public/doctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicAdvisoryController</servlet-name>
    <servlet-class>controller.PublicAdvisoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicAdvisoryController</servlet-name>
    <url-pattern>/public/advisory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicBMIController</servlet-name>
    <servlet-class>controller.PublicBMIController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicBMIController</servlet-name>
    <url-pattern>/public/bmi_result</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicBMIResultController</servlet-name>
    <servlet-class>controller.PublicBMIResultController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicBMIResultController</servlet-name>
    <url-pattern>/public/bmi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>controller.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogoutController</servlet-name>
    <servlet-class>controller.UserLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAddController</servlet-name>
    <servlet-class>controller.UserAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddController</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSigninController</servlet-name>
    <servlet-class>controller.UserSigninController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSigninController</servlet-name>
    <url-pattern>/index_login</url-pattern>
  </servlet-mapping>
</web-app>